.container {
	margin: 1.5em;
    padding-top: 2em;
}

.result {
	margin-top: 1em;
}

.clear-btn {
	text-align: center;
	margin: 0 auto;
}

.d-none {
	display: none;
}


/* .input-form {
	display: table-caption;
    text-align: center;
} */

/*basic css*/

* {
	box-sizing: border-box;
}

:root {
	--c1: hsl(221deg 48% 35%);
	--c2: #eee;
	--c3: #fff;
	--c4: #000;
	--c5: #fff;
    --c6: #EEEEEF;
	--m1: 8px;
	--rc: 8px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--c2: #333;
		--c3: #1e1f20;
		--c4: #fff;
	}
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* General settings */

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background-color: var(--c4);
	color: var(--c3);
	/* max-width: 70%; */
	text-align: center;
	margin: auto;
	width: 450px;
    height: 450px;
}
img,
iframe {
	border: none;
	max-width: 100%;
}

a {
	color: var(--c1);
	text-decoration: none;
}

a:hover {
	color: var(--c1);
	text-decoration: underline;
}

/* Headlines */

h1,
h2 {
	margin: 0.6em 0;
	font-weight: normal;
}

h1 {
	font-size: 2.2em;
	line-height: 1.2;
}

h2 {
	font-size: 1.5em;
	line-height: 1.2;
}

/* Rounded Corners*/

input,
button,
img {
	border-radius: var(--rc);
	margin: 5px;
}

img {
	height: 200px;
}

/* Forms */

input,
select,
textarea {
	font-size: 1em;
	color: var(--c2);
	background: var(--c6);
	border: 0;
	padding: 0.9em;
}

label {
	font-weight: bold;
	text-align: left;	
    font-size: 1.2em;
	padding-top: 1em;
}

.api-input {
	padding-top: 2.5em;
	padding: 1em;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
	-webkit-appearance: none;
	font-size: 1em;
	display: inline-block;
	color: var(--c5);
	background: var(--c1);
	border: 0;
	margin: 4px;
	padding: 0.6em;
	cursor: pointer;
	text-align: center;
    width: 50%;
    padding: 1em;
    margin-top: 0.5em;
}

button:hover,
button:focus,
input:hover,
textarea:hover,
select:hover {
	opacity: 0.8;
}
